.fluentform-widget-wrapper .fluentform .ff_btn_style:hover {
  opacity: unset !important;
}
.fluentform-widget-wrapper input[type=checkbox]:after,
.fluentform-widget-wrapper input[type=radio]:after {
  display: none !important;
}
.fluentform-widget-wrapper input[type=radio] {
  outline: none !important;
  width: 19px;
  height: 19px;
  top: -1px;
}
.fluentform-widget-wrapper input[type=radio]:after {
  display: none;
}
.fluentform-widget-wrapper input[type=radio]:focus {
  outline: none !important;
}
.fluentform-widget-wrapper .ff-el-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.fluentform-widget-wrapper .ff-el-group.dropdown-icon .ff-el-input--content {
  position: relative;
}
.fluentform-widget-wrapper .ff-el-group.dropdown-icon .ff-el-input--content:after {
  position: absolute;
  font-family: remixicon;
  content: "\ea4e";
  right: 18px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 1;
  color: inherit;
  pointer-events: none;
}
.fluentform-widget-wrapper .ff-el-input--content {
  position: relative;
}
.fluentform-widget-wrapper .ff-el-input--content::before {
  font-family: remixicon;
  position: absolute;
  left: 18px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  color: var(--bodyColor);
  font-size: 18px;
  pointer-events: none;
}
.fluentform-widget-wrapper .name-icon .ff-el-input--content::before {
  content: "\f256";
}
.fluentform-widget-wrapper .phone-icon .ff-el-input--content::before {
  content: "\f15a";
}
.fluentform-widget-wrapper .email-icon .ff-el-input--content::before {
  content: "\eefc";
}
.fluentform-widget-wrapper .dropdown-icon .ff-el-input--content::before {
  content: "\f021";
}
.fluentform-widget-wrapper .message-icon .ff-el-input--content::before {
  content: "\ec80";
  bottom: unset;
  top: 8px;
}
.fluentform-widget-wrapper .ff_submit_btn_wrapper .ff-btn-submit {
  background: var(--primaryColor);
  color: var(--whiteColor);
  position: relative;
}
.fluentform-widget-wrapper .ff_submit_btn_wrapper .ff-btn-submit:after {
  font-family: remixicon;
  content: "\ea6c";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  color: inherit;
  font-size: inherit;
  transition: var(--transition);
}
.fluentform-widget-wrapper .ff_submit_btn_wrapper .ff-btn-submit:hover:after {
  transform: translateX(3px);
}
.fluentform-widget-wrapper.color_primary_scheme .fluent_form_5 .ff-btn-submit {
  background: var(--primaryColor);
  color: var(--whiteColor);
}
.fluentform-widget-wrapper.color_primary_scheme .fluent_form_5 .ff-btn-submit:hover {
  background: var(--primaryOpacityColor);
}
.fluentform-widget-wrapper.color_light_scheme .fluent_form_5 .ff-btn-submit {
  background: var(--whiteColor);
  color: var(--titleColor);
}
.fluentform-widget-wrapper.color_dark_scheme .fluent_form_5 .ff-btn-submit {
  background: var(--titleColor);
  color: var(--whiteColor);
  text-align: center;
}
